h1 {
    color: #A55D35;
    font-family: sans-serif;
}

h2 {
    color: #A55D35;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

body {
    overflow: hidden;
    background: #E6E7E8;
}

.codeblock {
    background: #FFFFFF;
    border: solid black 1px;
    display:inline-block;
    
    padding-left: 10px;
    padding-right: 10px;
}

code {
    font-family: Consolas, monospace;
}

.answer {
    background-color: #DDDDDD;
}

.parameterDesc {
    font-family: sans-serif;
    padding-right: 10px;
    width: 150px;
}

.parameter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}