/* Tags */

a {

}

body {
    overflow: scroll;
    background: #E6E7E8;
}

h1 {
    color: #A55D35;
    font-family: Open Sans, sans-serif;
    text-shadow: 1px 1px 1px #000000;
}

h2 {
    color: #A55D35;
    font-family: Open Sans, sans-serif;
    text-shadow: 1px 1px 1px #000000;
}

p {
    font-family: Open Sans, sans-serif;
}

/* Classes */

.answer {

}

.answerButton {

}

.answerOutput {
    background-color: #DDDDDD;
}

.code {
    display:inline-block;
    border-radius: 3px;
    margin: 1em 0;
    font-family: Consolas, monospace;
}

.codeblock {
    background-color: #FFFFFF;
    border: solid #333333 1px;
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 550;
    font-size: 120%;
}

.codeHeader {
    background: #333333;
    color: #FFF;
    padding: 5px 10px;
    outline: none;
    font-family: Open Sans, sans-serif;
}

.problemDesc {

}

.problemDescText {

}

.problemDescList {
    padding-left: 30px;
    font-family: Consolas, monospace;
}

.parameter {
    font-family: Open Sans, sans-serif;
}

.parameterDesc {
    font-family: sans-serif;
    padding-right: 10px;
    width: 150px;
}

.parameterInput {

}