h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

code {

}

.desc {

}

.code {
    font-family: monospace;
}

.parameter {

}

.answer {
    background-color: lightgrey;
}